<div class="control-form">
    <span>
    <label>Columns:
      <input type="number" min="5" max="50" [(ngModel)]="grid.x" placeholder="columns">
    </label>    
    </span>
    <span>
    <label>Rows: 
      <input type="number" min="5" max="25" [(ngModel)]="grid.y" placeholder="rows">
    </label>
    </span>
    <span>
    <input type="button" value="Refresh Grid" (click)="loadGridBtn($event)">
    </span>
    <span>
    <input type="button" value="Start" (click)="startGameBtn($event)" *ngIf="refreshed && !running">
    </span>
    <span>
    <input type="button" value="Stop" (click)="stopGameBtn($event)" *ngIf="running">
    </span>
</div>
<div class="grid-game">
    <table>
        <tr *ngFor="let gr of grid.grid; let j = index">
            <td *ngFor="let g of gr; let i = index">
                <div class="bg-red" *ngIf="g*1 > 0 && !game[(g*1)].status">
                    :(
                </div>
                <div class="bg-green" *ngIf="g*1 > 0 && game[(g*1)].status">
                    :)
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="foot-test">
    <a href="https://s3.amazonaws.com/abelmoreno/downloads/cronway-game.pdf" target="_blank">Conway's Game Analysis</a>
    <a href="https://github.com/aosmorac/conway-game" target="_blank">GitHub Repo</a>
</div>
<div class="first-screen" *ngIf="first">
    <input type="button" value="Start" (click)="startGameBtn($event)" >
</div>